.preview-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    height: fit-content;
    background-color: #ffffff;
    margin: 25px 10px;

}

.personal-preview{
    width: 100%;
    height: fit-content;
    background-color: #0e374e;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.resume-name{
    font-size: 2.5rem;
}

.contact-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.7rem;
    padding-bottom: 2rem;
    margin-left:1rem;
}

.contact-info div span{
    margin-left: .8rem;
}

.education-preview, .experience-preview{
    width: 60vw;

}
 

.preview-title{
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    background-color:#EFF1F3 ;
}

.education-info-preview, .experience-info-preview{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
    height: fit-content;
    width: fit-content;
}
.education-info-group,.experience-info-group{
    width:max-content
}
.education-info-group p{
    margin: 0;
    margin: 0 1rem;
}
.experience-info-group p{
    margin: 0;
    margin: 0 1rem;
}

.education-info-institution, .experience-info-company{
    font-weight: bold;
}

.education-info-description, .experience-info-description{
    width: 300px;

}